<<<<<<< HEAD
.logo{
    width:50px;
    height:48px;
    display: block;
    background-image: url('../images/logo.svg');
}
.header{
    position: relative;
=======
.header{
>>>>>>> 2ce43d1df8b7aa4f669733b02a68153ebad8ca66
    font-size: 14px;
    display: flex;
    flex-flow: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 30%; 
    div:not(.header_white-text){
        margin-left:2%;
        padding-top:8.5px;
    }
    &_white-text{
        color:white;
<<<<<<< HEAD
        background-color: #ffbb42;
=======
        background-color: rgb(255, 208, 0);
>>>>>>> 2ce43d1df8b7aa4f669733b02a68153ebad8ca66
        border-radius:6%;
        width:6em;
        height:2.5em;
    }
<<<<<<< HEAD
}
.laptop{
    background-image: url('../images/laptop.svg');
    height: 1200px;
    display: block;
}
=======
}
>>>>>>> 2ce43d1df8b7aa4f669733b02a68153ebad8ca66
